<div class="background-image-section">
  <div class="content">
    <div class="text-700 warrper-text">
      <div class="text-900 font-bold text-5xl mb-3">Welcome to your professional community</div>
      <div class="text-700 text-2xl mb-5">Explore collaborative articles.<br> Find the right job or internship for you. <br>Learn the skills you need to succeed.</div>
      <div class="button-group">
        <button pButton pRipple label="Join Now" (click)="goToRegister()" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
        <button pButton pRipple label="Sign in" (click)="goToLogin()" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-rounded white-signin white-space-nowrap"></button>
      </div>
    </div>
  </div>
</div>
