<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/acceuil-client">
      <span class="brand-name">
        <span class="brand-bold">KHEDMTI</span><span class="brand-highlight">.TN</span>
      </span>
    </a>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/acceuil-client">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Emplois</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/annonce">Annonce</a>
        </li>
        <li class="nav-item">

          <a class="nav-link logout-link" (click)="logout()">
            <i class="logout-icon"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modern-container">
  <!-- Bloc gauche -->
  <div class="modern-left-block">
    <br>
    <div class="details">
      <ul>
        <li><strong>Type de poste :</strong> CDI</li>
        <li><strong>Lieu de travail :</strong> {{ offreEmploi.localisation }}</li>
        <li><strong>Expérience :</strong> {{ offreEmploi.experience }} ans ou plus</li>
        <li><strong>Niveau d'études :</strong> Bac + 5</li>
        <li><strong>Salaire :</strong> {{ offreEmploi.salaire }}DT</li>
        <li><strong>Disponibilité :</strong> Plein temps</li>
      </ul>


      <ng-container *ngIf="competences?.length; else noCompetences">
        <strong>Compétences requises :</strong>
        <ul>
          <li *ngFor="let competence of competences">
            {{ competence.name }}
          </li>
        </ul>
      </ng-container>
      <ng-template #noCompetences>
        <p>Aucune compétence requise pour ce poste.</p>
      </ng-template>

    </div>
  </div>

  <!-- Bloc droit -->
  <form (ngSubmit)="onSubmit()">

        <div >
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

  </form>
</div>
    <!-- Footer -->
    <footer class="footer navbar-light ">
      <div class="container">

          <!-- Copyright -->
          <div class="row">
              <div class="col text-center">
                  <p class="small mb-0">© 2024 KHEDMTI.TN. All rights reserved. | Designed with <span style="color: red;">♥</span> by KHEDMTI Team.</p>
              </div>
          </div>
      </div>
    </footer>
