<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <nav>
      <ul>
        <li *ngFor="let item of sidebarItems">
          <a [routerLink]="item.route" routerLinkActive="active">
            <i [class]="item.icon"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <!-- Bouton Toggle -->

    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <i class="pi pi-bars"></i>
    </button>
        <!-- Contenu chargé via router-outlet -->
    <router-outlet></router-outlet>
  </main>
</div>
