  /* Navbar */
  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #c9c1f5; /* Fond blanc cassé */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    z-index: 20;

  }
  
  /* Logo dans la navbar */
  .custom-navbar .navbar-brand img {
    height: 50px;
  }
  
  /* Liens dans la navbar */
  .custom-navbar .nav-link {
    color: #007bff; /* Violet pour le contraste */
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 10px;
  }
  
  .custom-navbar .nav-link:hover {
    background-color: #cdd5f8; /* Rose clair */
    color: #ffffff;
    transform: scale(1.05);
  }
   /* Style pour le texte "KHEDMTI.TN" */
 .brand-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem; /* Taille générale */
    display: flex;
    align-items: center;
    text-transform: uppercase; /* Majuscules */
    color: #6c757d; /* Gris pour KHEDMTI */
  }
  
  .brand-bold {
    font-weight: bold;
    color: #6c757d; /* Gris */
  }
  
  .brand-highlight {
    font-weight: bold;
    color: #007bff; /* Bleu pour .TN */
    margin-left: 5px; /* Espacement entre KHEDMTI et .TN */
  }