<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/acceuil-client">
        <span class="brand-name">
          <span class="brand-bold">KHEDMTI</span><span class="brand-highlight">.TN</span>
        </span>
      </a>
      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil-client">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs">Emplois</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/annonce">Annonce</a>
          </li>
          <li class="nav-item">

          <a class="nav-link logout-link" href="#">
            <i class="logout-icon"></i>
            Logout
          </a>
          </li>
          <li class="nav-item">
            <!-- Bouton avec icône de notification -->
            <button class="notification-button nav-link" (click)="toggleNotifications()">
              <i class="pi pi-bell notification-icon"></i>
              <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>

            </button>
          
            <!-- Liste des notifications -->
            <div *ngIf="showNotifications" class="notifications-dropdown">
              <ul>
                <li *ngFor="let notification of notifications" class="notification-item">
                  <i class="{{ notification.icon }} notification-icon"></i>
                  <div class="notification-content">
                    <p>{{ notification.text }}</p>
                    <small>{{ notification.date }}</small>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
 

    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          
          <div class="px-5">
            <div class="row justify-content-center">
              <div class="col-lg-2 order-lg-7 flex justify-content-center">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="/assets/user1.png" alt="Search Image" class="rounded-circle mt-3" style="width: 150px;">
                  </a>
                </div>
              </div>
              
           
            </div>
            <div class="text-center mt-4">
              <h3>Nour Loaaba<span class="font-weight-light">, 23</span>
              </h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Bucharest, Romania</div>
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
              <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>Nour est un professionnel passionné par la résolution de problèmes complexes et la gestion de projets innovants. Son parcours universitaire en informatique lui a permis d’acquérir des compétences techniques solides, tandis que son expérience professionnelle actuelle reflète sa capacité à gérer efficacement des équipes et à livrer des solutions créatives. Nour se distingue par sa motivation à apprendre continuellement et à contribuer activement à des projets qui ont un impact significatif.</p>
                  <a href="/edit-profile" >Complete your profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer navbar-light ">
      <div class="container">
         
          <!-- Copyright -->
          <div class="row">
              <div class="col text-center">
                  <p class="small mb-0">© 2024 KHEDMTI.TN. All rights reserved. | Designed with <span style="color: red;">♥</span> by KHEDMTI Team.</p>
              </div>
          </div>
      </div>
    </footer>
    