<app-navbar-header></app-navbar-header>


    <!-- Conteneur principal avec fond blanc -->
    <div class="main-container">
      <p-steps [(activeIndex)]="activeIndex"  [readonly]="true" [model]="steps"></p-steps>
    </div>
      <!-- Étape 1 : Nom et Pays -->    <div class="main-container">

      <div *ngIf="activeIndex === 0" class="step-container">
        <h3 class="step-title">Étape 1 : Informations de base</h3>
        <form [formGroup]="step1Form">
          <div class="field-row">
            <div class="field">
              <label for="name">Nom :</label>
              <input type="text" formControlName="name" pInputText class="input-field" />
            </div>
            <div class="field">
              <label for="country">Age :</label>
              <input  type="text" formControlName="country" pInputText class="input-field" />
            </div>
          </div>
            <div class="field">
              <label for="name">Adresse :</label>
              <input type="text" formControlName="name" pInputText class="input-field" />
            </div>

          <div class="button-container">
            <button pButton type="button" label="Suivant" (click)="nextStep()" [disabled]="!step1Form.valid" class="button-next"></button>
          </div>
        </form>
      </div>

      <!-- Étape 2 : Description de motivation -->
      <div *ngIf="activeIndex === 1" class="step-container">
        <h3 class="step-title">Étape 2 : Motivation et profession</h3>
        <form [formGroup]="step2Form">
          <div class="field-row">
            <div class="field">
              <label for="name">Spécialité :</label>
              <input id="name" type="text" formControlName="name" pInputText class="input-field" />
            </div>
            <div class="field">
              <label for="country">Université :</label>
              <input id="country" type="text" formControlName="country" pInputText class="input-field" />
            </div>
          </div>
          <div class="field">
            <label for="description">Description :</label>
            <textarea id="description" rows="5" formControlName="description" pInputTextarea class="input-textarea"></textarea>
          </div>
          <div class="button-container">
            <button pButton type="button" label="Précédent" (click)="prevStep()" class="button-prev"></button>
            <button pButton type="button" label="Suivant" (click)="nextStep()" [disabled]="!step2Form.valid" class="button-next"></button>
          </div>
        </form>
      </div>

      <!-- Étape 3 : Téléchargement du CV -->
      <div *ngIf="activeIndex === 2" class="step-container">
        <h3 class="step-title">Étape 3 : Téléchargement du CV</h3>

        <p-fileUpload name="cv" (onUpload)="onUpload($event)" accept=".pdf,.doc,.docx" class="file-upload"></p-fileUpload>
        <div class="button-container">
          <button pButton type="button" label="Précédent" (click)="prevStep()" class="button-prev"></button>
          <button pButton type="button" label="Suivant" (click)="nextStep()" class="button-next"></button>
        </div>
      </div>

      <!-- Étape 4 : Confirmation -->
      <div *ngIf="activeIndex === 3" class="step-container">
        <h3 class="step-title">Étape 4 : Confirmation</h3>
        <p>Merci de vérifier les informations saisies et de confirmer.</p>
        <div class="button-container">
          <button pButton type="button" label="Précédent" (click)="prevStep()" class="button-prev"></button>
          <button pButton type="button" label="confirmer" (click)="submit()" class="button-submit"></button>
        </div>
      </div>
    </div>

   <app-footer></app-footer>
